// Color code
$antiquewhite                            : #faebd7;
$bisqui                                  : #ffe4c4;
$black                                   : #000;

// font-weight
$bold                                    : bold;